.Container-unique {

    width: 98%;
    margin: 2px;
    overflow: hidden;
    
   

} 
.Container-unique .item-unique{

    background-color: #f4f6fa;
    padding: 5px;
    border-radius: 10px;
    margin-left:33px;
    gap: 10px;
    border: 1px solid rgb(209, 163, 71);
} 
.Container-unique .item-unique h6{
    font-size: 12px;
}

.Container-unique .item-unique p{
    font-size:10px
}
.Container-unique .item-unique img{
    width: 33px;
    height: 44px;
}